.caroucel-activ-image-style {
    max-width: 210px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.caroucel-picture {
    width: 210px;
}

.caroucel-current-image {
    border-radius: 30px 30px 0px 0px;
    max-height: 157px;
    min-height: 157px;
    min-width: 210px;
}

@media only screen and (max-width: 400px) {
    
}